* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
}
.postHeading {
  text-align: center;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post__btn {
  padding: 0 0 0 4px;
}

.post__btn button {
  height: 30px;
  width: 90px;
}

.post__selection {
  display: grid;
  padding: 10px 2px;
  border: 1px solid teal;
}

.post__selection input{
  margin: 0px 5px;
}